@import './variables.scss';
@import './responsive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  background-color: $main-bg;

}


.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  @media screen and (min-width: (1200px)) {
    height: 94vh;
    width: 100vw;
    background-color: $main-bg;
  }
  width: 100vw;
  hr {
    border: 1px solid $soft-bg;
  }
}

.container {
  display: flex;
  height: 100%;
}

.menuContainer {
  width: 250px;
  padding: 3% 20px;

  border-right: 1px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  width: 100%;
  padding: 3% 20px;
  height: 100%;
}
